.secondSection{
    ul{
        height: 56px;      
        //为什么要给高度而不是用padding去撑开呢，因为要给一个全局定位的方式
        //顶上去之后，下面的东西会浮上来，固定了高度可以用margin-top去避免这个东西被盖住的风险

        display: flex;
        align-items: center;    //对比justiify-content:between,*+*,前者以页宽为主，后者间隔以自定义为主
        justify-content: space-around;

        li{
            position: relative;
            color: white;
            list-style: none;

            .line{
                position: absolute;
                left: 50%;
                bottom: -8px;                          //往下移动一点
                transform: translate(-50%);            //这样是css的居中操作
                width: 100%;
                height: 4px;
                background: green;
                opacity: 0;
                transition: opacity .3s;   //250ms或者300ms是比较好的
            }
            &.visible{
                opacity: 1;
            }
            //相当于这一块是用一个全填充的span去制作下划线，然后用绝对定位附在li上面
        }
    }
    section{
        padding: 16px;     //移动端的页面padding一般16px比较好

        h2{
            color: white;
        }
        img{
            margin-top: 16px;
            width: 100%;
            border-radius: 6px;     //一般4px和6px好
        }
    }
}